<div class="container">
  <form>
    <mat-form-field [color]="'primary'" style="margin-top: 10px">
      <mat-label>Search people by name</mat-label>
      <input
        type="text"
        matInput
        [formControl]="control"
        [matAutocomplete]="auto"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-autocomplete #auto (optionSelected)="optionSelected($event)">
      <mat-option *ngFor="let user of showUsers" [value]="user">
        <img [src]="user.imageUrl" />{{ user.name }}
        <button mat-raised-button (click)="addFavorite(user)">
          <mat-icon>favorite</mat-icon>Add Fav
        </button>
      </mat-option>
    </mat-autocomplete>
  </form>

  <h2>FAVORITES</h2>

  <div *ngFor="let user of favoritesUsers">
    <img [src]="user.imageUrl" />{{ user.name }}
    <button mat-mini-fab color="warn" (click)="deleteFavorite(user.username)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
